<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>X años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eaque facilis impedit adipisci at porro deleniti repudiandae, quisquam debitis illo eius placeat ducimus iure eveniet totam dolorum in consequuntur iste?</p>
            <li>
                <h2>Trabajo 2</h2> - <h3>X años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eaque facilis impedit adipisci at porro deleniti repudiandae, quisquam debitis illo eius placeat ducimus iure eveniet totam dolorum in consequuntur iste?</p>
            <li>
                <h2>Trabajo 3</h2> - <h3>X años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eaque facilis impedit adipisci at porro deleniti repudiandae, quisquam debitis illo eius placeat ducimus iure eveniet totam dolorum in consequuntur iste?</p>
        </ul>
    </div>
</div>