<div class="titulo">
    <h1>Proyectos</h1>
</div>
<div class="row">
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 seccion1">
            <h2>Portfolio</h2>
            <p>Proyecto Integrador correspondiente al segundo módulo de Argentina Programa 2022 (#YoProgramo - 2da edición)
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 seccion2">
            <img src="../../../assets/img/proyecto_AP2022.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>