<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 seccion1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, numquam voluptate aut, omnis veritatis inventore ab, obcaecati labore iusto exercitationem veniam eveniet saepe. Ipsam quas labore qui vero illo odit.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 seccion2">
            <img src="../../../assets/img/proyecto1.png" alt="" class="img-fluid img-proyecto">
        </div>

    </div>
</div>