<div class="row">
    <div class="contenedor bg-dark">
        <div class="logo">
            <img src="../../../assets/img/logo_AP1.png" alt="" id="logoAP1">
            <img src="../../../assets/img/logo_AP2.png" alt="" id="logoAP2">
        </div>
        <div class="redes">
            <a href="https://github.com/gabriel-h-m"><img src="../../../assets/img/logo_github2.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Logout</button>
        </div>
    </div>
</div>
