.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

section {
    /* margin: 80px 80px 80px 80px; */
}

h2, p {
    text-align: center;
}

.btn {
    display: flex;
    margin: auto;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}