<div class="contenedor" *ngIf="expLaboral">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="NombreExp">Razón Social</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLaboral.nombreExp" required >
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripción</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLaboral.descripcionExp" required >
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>