@import "../../../assets/css/btn-añadirNuevo.css";


.row {
    padding: 20px;
    border: 1px solid gray;
}

div {
    background-color: #d6dbdf;
    /* --- */
    margin: 0px -5px 2px 5px;
    border-radius: 0px 0px 25px 25px;
}

h2, h3 {
    display: inline;
}

h3 {
    color:#4d4d4d;
}

.titulo {
    position: relative;
    top: 5px;
    color: ghostwhite;
    background-color: rgb(35, 35, 35);
    border-radius: 25px 25px 0px 0px;

    padding: 15px;
}

#nuevaExp:hover {
    color: black;
    font-weight: bold;
    background-color: #0ee355;
}

#editar:hover {
    color: black;
    font-weight: 400;
    background-color: #c3c1c1;
}

#eliminar:hover {
    color: black;
    font-weight: 400;
    background-color: #ee0000;
}

  i {
    font-style: normal;
  }

  /* ------------------------------------- */







