<div class="titulo">
    <h1>Experiencia Laboral</h1>
</div>

<div class="row">
    <div class="col-lg-2">
        <button class="btn effect01" type="button" id="nuevaExp" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-circle">&nbsp;&nbsp;Añadir Experiencia</i>
        </button>
    </div>
    <hr class="my-1" *ngIf="isLogged">

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of exp">
                    <td>
                        <h4>{{Experiencia.nombreExp}}</h4>
                    </td>
                    <td>{{Experiencia.descripcionExp}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" id="editar" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-square"></i> editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" id="eliminar" (click)="delete(Experiencia.id, Experiencia.nombreExp)">
                            <i class="bi bi-x-square"></i> eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
    

</div>