<div class="row">
    <h1>Hard y Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_html5.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"

        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'CSS'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_css3.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="75"

        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'JS'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_js.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="55"

        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Java'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_java.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"

        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'MYSQL'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_mysql.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"

        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Ingles'"
        [showSubtitle]="false"
        [showUnits]="false"
        [titleFontSize]="'1.5em'"
        [titleColor]="'red'"
        [titleFontWeight]="'500'"

        [imageSrc]="'../assets/img/logo_ingles.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"

        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
</div>