.row {
    /* background-color: teal; */
}

footer {
    color:floralwhite;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 10px #000000;
}

.vl {
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 12px;
    margin: 0 10px;
  }
