.row {
    /* background-color: teal; */
}

.bg-dark {
    padding: 5px 10px;
}

footer {
    color:floralwhite;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 10px #000000;
    margin-top: 15px;
}

.vl {
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 12px;
    margin: 0 10px;
  }

#vA {
    padding-right: 50px;
    float: right;
}

a {
    all: unset;
}

#vA a:hover {
    cursor: pointer;
    color: #09a8f1;
}
