<div class="titulo">
    <h1>Educación</h1>
</div>

<div class="row">
    <div class="col-lg-2">
        <button class="btn effect01" type="button" id="nuevaEdu" routerLink="/nuevaeducacion" *ngIf="isLogged">
            <i class="bi bi-plus-circle">&nbsp;&nbsp;Añadir Educación</i>
        </button>
    </div>
    <hr class="my-1" *ngIf="isLogged">

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h4>{{Educacion.nombreEducacion}}</h4>
                    </td>
                    <td>{{Educacion.descripcionEducacion}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark" id="editar" routerLink="/editeducacion/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i> editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" id="eliminar" (click)="delete(Educacion.id, Educacion.nombreEducacion)">
                            <i class="bi bi-x-square"></i> eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
    

</div>