.submit {
  width: 130px;
  background-color: #1172c1;
  color: ghostwhite;
  font-weight: 600;
  font-size: large;
  margin-top: 15px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  border: 3px solid #ffffff;
  border-radius: 20px;
}

/* -------------------- */

.submit:before {
}

.submit:hover {
  background-color: #2995ed;
  color: rgb(7, 0, 45);
  border: 3px solid #f1f1f1;
  border-style: inset;
  border-radius: 20px;
}

.submit:after {
}
