<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/foto perfil.png" alt="" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gabriel Hernán Maxit</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum deserunt saepe laudantium et, velit sed illum maiores laboriosam, asperiores adipisci reiciendis enim quo rem minus repellendus pariatur, excepturi alias. Sint.
            </p>
        </span>
    </div>
</div>